<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Color Generator</title>
    
    <style>
        body {
            background-color: {{ background_color }};
        }
        form {
            margin: 50px;
        }
        input {
            background-color: {{ textbox_color }};
            border-radius:10px;
        }

    </style>

</head>
<body>
    <form action = '/get_color' method = "POST">
        <div class = "centered">
            <input id = "name" name = "color" type = "text" placeholder = "Type Anything (max 25 chars)"/>
        </div>
    </form>
</body>
</html>